@import 'libs/bootstrap.min';
@import 'libs/animate.min';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import 'base/variables';
@import 'base/mixins';


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--lg-darkpurple);
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    line-height: var(--lh-body);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

@import 'blocks/titles';
@import 'blocks/buttons';

@import 'blocks/menu.scss';
@import 'blocks/promo.scss';
@import 'blocks/development';
@import 'blocks/services';
@import 'blocks/steps';
@import 'blocks/interaction';
@import 'blocks/assignment';
@import 'blocks/cases';
@import 'blocks/team';
@import 'blocks/faq';
@import 'blocks/contacts';
@import 'blocks/footer';
@import 'blocks/modals';
@import 'blocks/policy';


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}