.btn {
    width: fit-content;
    padding: 1em;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--clr-warmyellow);
    border: none;
    border-radius: 100px;
    font-size: calc(var(--fs-body) * 1.142);
    font-weight: var(--fw-bold);
    line-height: 1em;
    color: var(--clr-light);
    z-index: 1;
    &_small {
        font-size: calc(var(--fs-body) * 0.928);
        font-weight: var(--fw-extra-bold);
    }
    &_big {
        font-size: calc(var(--fs-body) * 1.285);
    }
    &_transparent {
        color: var(--clr-purple);
        border: 1px solid var(--clr-purple);
        background-color: var(--clr-light);
    }
}

@media (min-width: 365px) {
    .btn {
        padding: 1em;
    }
}

@media (min-width: 768px) {
    .btn {
        font-size: calc(var(--fs-body) * 1.142);
        &_small {
            font-size: calc(var(--fs-body) * 0.8);
        }
        &_big {
            font-size: calc(var(--fs-body) * 1.111);
        }
    }
}

@media (min-width: 1200px) {
    .btn {
        &_small {
            font-size: calc(var(--fs-body) * 0.9);
        }
    }
}