.steps {
    padding: 1em;
    margin-top: 6em;
    &__title {
        text-align: center;
    }
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-top: 3em;
        justify-content: space-between;
        align-items: center;
        &-link {
            position: relative;
            color: var(--clr-light);
            text-align: center;
        }
        &-link:hover {
            color: var(--clr-orange);
        }
        &-link.active {
            background-color: unset;
            color: var(--clr-orange);
            &::after {
                content: "";
                width: 100%;
                height: 3px;
                position: absolute;
                bottom: -2px;
                left: 0;
                background-color: var(--clr-light);
            }
        }
    }
    &-item {
        margin-top: 3em;
        background-color: unset;
        box-shadow: unset;
        width: auto;
        padding: 0;
        &__pic {
            width: 17.666em;
            height: 21.666em;
            &_development {
                width: 21.666em;
                height: 21.666em;
            }
            &_testing {
                width: 19.666em;
                height: 21.666em;
            }
        }
        &__title {
            margin-top: 2em;
        }
        &__text {
            margin-top: 1.8em;
        }
    }
}

@media (min-width: 768px) {
    .steps {
        margin-top: -12em;
        .nav {
            display: flex;
            flex-wrap: nowrap;
            &-link.active {
                &::after {
                    bottom: -1em;
                }
            }
        }
        &-item {
            margin-top: 5em;
            &__title {
                margin-top: 0em;
            }
        }
    }
}