.title {
    font-size: calc(var(--fs-body) * 1.714);
    font-weight: var(--fw-extra-bold);
    margin-bottom: 0;
    &_big {
        font-size: calc(var(--fs-body) * 2);
        font-weight: var(--fw-bold);
    }
    &_middle {
        font-size: calc(var(--fs-body) * 1.142);
        font-weight: var(--fw-extra-bold);
        margin-bottom: 0.642em;
    }
    &_small {
        font-size: var(--fs-body);
        font-weight: var(--fw-extra-bold);
    }
    &_yellow {
        color: var(--clr-warmyellow);
    }
}

@media (min-width: 768px) {
    .title {
        &_big {
            font-size: var(--fs-body);
        }
        &_middle {
            font-size: calc(var(--fs-body) * 2);
            margin-bottom: 0.7em;
        }
        &_small {
            font-size: calc(var(--fs-body) * 1.333);
        }
    }
}