.menu {
  background-color: var(--clr-light);
  box-shadow: 0px 4px 100px rgba(66, 66, 66, 0.6);
  border-radius: 0px 0px 10px 10px;
}

.menu__logo {
  width: 90px;
  height: 78px;
}

.menu__list-item a {
  color: var(--clr-dark);
}

.menu__list-item.active a {
  color: var(--clr-warmyellow);
}

.menu__hamburger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241, 164, 49, 1)' stroke-width='3' stroke-linecap='butt' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-size: cover;
  width: 4.2em;
  height: 4em;
}
